<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/pokemonSpecies">Pokemon Species</a> |
    <a href="/locations">Locations</a> |
    <a href="/customers">Customers</a> |
    <a href="/employees">Employees</a> |
    <a href="/orders">Orders</a> |
    <a href="/pokemon">Pokemon</a> |
    <a href="/employeesOrders">Employee Orders</a>
    <form action="/reset" method="POST" id="reset-form"/>
      <button type="submit">Reset</button>
    </form>
  </nav>
  <main>
    {{{body}}}
  </main>
</body>
</html>
