<h1>{{title}}</h1>

<p>Welcome to the Team Rocket Database!</p>
<ul>
  <li><a href="/pokemonSpecies">Manage Pokémon Species</a></li>
  <li><a href="/locations">Manage Locations</a></li>
  <li><a href="/customers">Manage Customers</a></li>
  <li><a href="/employees">Manage Employees</a></li>
  <li><a href="/orders">Manage Orders</a></li>
  <li><a href="/pokemon">Manage Pokémon</a></li>
  <li><a href="/employeesOrders">Manage Employee Orders</a></li>
</ul>
